/*===============================
=               FAQ             =
===============================*/

#faq {
    padding-top: 75px;
    padding-bottom: 95px;
    @include media-breakpoint-only(lg) {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    @include media-breakpoint-only(md) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #faq__accordion {
        .faq-wrap {
            border: 1px solid #ececec;
            border-top:0;
        }
        h3 {
            font-family: $noto-bold;
            position: relative;
            padding: 12px 30px 12px 15px;
            color: #222222;
            font-size: 0.813em;
            line-height: 1.7;
            cursor: pointer;
            background-color: #f8f8f8;
            @include animate-fade;
            border:0;
            margin: 0;
            &:hover {
                cursor: pointer;
                color: $yellow;
            }
            &:focus {
                outline: none!important;
            }
            &:after {
                font-family: "Font Awesome 5 Pro";
                content: "\f105";
                @include centre(y);
                right: 15px;
                font-size: 18px;
                font-weight: 900;
                color: #adadad;
                @include animate-fade;
            }
            &.ui-state-active {
                &:after {
                    content: "\f107";
                }
            }
        }
        .ui-accordion-content {
            border:0;
            padding: 20px;
            p {
                @include regular-text;
                color: #777777;
                strong {
                    color: $yellow;
                    font-family: $noto-bold;
                }
                a {
                    font-family: $noto-bold;
                    color: $blue;
                    &:hover {
                        color: $yellow;
                        text-decoration: none;
                    }
                }
            }
            ul {
                @include list-style;
                li {
                    margin-bottom: .5em;
                    a {
                        text-decoration: underline;
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }
    }
}


