/*===============================
=           Top Area            =
===============================*/


#phone-popup-wrapper {
    display: block;
    position: fixed;
    top: 15%;
    left: -120px;
    -webkit-transition: left .5s ease-out;
    -moz-transition: left .5s ease-out;
    -o-transition: left .5s ease-out;
    transition: left .5s ease-out;
    cursor: pointer;
    z-index: 999999;
    #phone-popup {
        font-family: $noto-bold;
        font-size: 16px;
        display: block;
        line-height: 1.5em;
        background: #55b2dc;
        color: #fff;
        padding: 15px;
        border-radius: 3px;
        &:after {
            content: "";
            display: inline-block;
            background: url(../img/ico/phone.svg) no-repeat right center;
            background-size: contain;
            width: 0;
            height: 0;
            padding: 10px 15px;
            vertical-align: text-bottom;
        }
    }
    &:hover {
        left: -3px;
        -webkit-transition: left 500ms ease-out;
        -moz-transition: left .5s ease-out;
        -o-transition: left .5s ease-out;
        transition: left .5s ease-out;
    }
}


.sticky-popup {
    top: 20%;
    left: 0;
    -webkit-animation-name: popup_content_bounce_in_right_left;
    -moz-animation-name: popup_content_bounce_in_right_left;
    -o-animation-name: popup_content_bounce_in_right_left;
    animation-name: popup_content_bounce_in_right_left;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
     -webkit-transition: left .8s;
    -moz-transition: left .8s;
    -o-transition: left .8s;
    transition: left .8s;
    position: fixed;
    width: 350px;
    visibility: hidden;
    z-index: 999999;
    @media screen and (min-width: 800px) {
        visibility: visible!important;
    }
    @media handheld, only screen and (min-width: 1050px) {
        width: 395px!important;
    }
    @include bp(lg-down) {
        display: none;
    }
    .popup-header {
        margin: 35% 0 0 0;
        background-color: $yellow;
        margin-top: 10%;
        width: 40px;
        padding: 0px;
        float: right;
        height: 160px;
        border-radius: 0 4px 4px 0;
        border: 1px solid $yellow;
        cursor: pointer;
        .popup-title {
            font-family: $noto-bold;
            padding: 10px;
            writing-mode: tb-rl;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            white-space: nowrap;
            display: block;
            font-size: 18px;
            line-height: 1.2;
            color: #fff;
        }
    }
    .popup-content {
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fefefe;
        border: 1px solid hsl(0, 0%, 92%);
        width: auto;
        height: auto;
        padding: 0px;
        margin: 0px;
        .quote-form {
            &-in {
                background-color: #fff;
            }
            input[type=text], input[type=number], input[type=email], input[type=tel], textarea, .bootstrap-select .btn {
                height: 31px;
                border: 1px solid #e3e3e3;
                font-size: 14px;
            }
            label {
                color: $dark;
                font-size: 14px;
            }
            .control--radio, .control--checkbox {
                font-family: $noto-reg;
            }
            .zebra_tooltips_below {
                font-size: 14px;
            }
        }
    }
}

#menu_area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9997;
    @include animate-fade;
    @include bp(sm-down) {
       background-color: $green;
       position: static;
    } 
    #menu-wrapper {
        height: 135px;
        -webkit-transition: height .3s ease-in-out;
        transition: height .3s ease-in-out;
        padding-top: 55px;
        @include bp(sm-down) {
            padding-top: 35px!important;
            height: 125px!important;
        } 
        >.container {
            height: 100%;
            .row {
                height: 100%;
            }
        }
    }
    #top-license {
        background-color: #f7d579;
        position: relative;
        text-align: center;
        top: 30px;
        @include animate-fade;
        @include bp(md-down) {
            top: 26px;
        }
        p {
            color: $yellow-dark;
            font-family: $noto-reg;
            font-size: 15px;
            line-height: 1.5;
            margin-bottom: 0;
            padding-top: 6px;
            padding-bottom: 6px;
            @include bp(sm-down) {
                display: none;
            }
        }
        #toggle-tl {
            @include animate-fade;
            @include bp(sm-up) {
                display: none;
            }
            @include centre(x);
            bottom: -30px;
            z-index: 1;
            i {
                color: #fff;
                font-size: 20px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &.sticky {
        border-bottom: 0px solid rgba(255,255,255,0.01);
        background-color: $green;
        #top-license {
            top: -68px;
        }
        #toggle-tl {
            display: none;
        }
        #menu-wrapper {
            height: 115px;
            padding-top: 0;
            @include bp(sm-down) {
                padding-top: 0px!important;
                height: 90px!important;
                margin-top: -30px;
            } 
        }
        .navbar-brand {
            display: inline-block;
            margin-right: 1rem;
            line-height: inherit;
            white-space: nowrap;
            img {
                height: 90px!important;
                display: block;
            }
        }
    }
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-collapse {
        display: flex!important;
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        @media (min-width: 992px) {
            flex-basis: auto;
        }
    }
    .navbar {
        padding: 0;
        height: 100%;
        background-color: transparent;
        .navbar-brand {
            font-size: unset;
            padding: 0;
            min-width: 286px;
            @include bp(md-down) {
                min-width: 180px;
            }
            img {
                height: 130px;
                -webkit-transition: height .3s ease-in-out;
                transition: height .3s ease-in-out;
                image-rendering: -moz-crisp-edges;
                image-rendering: -o-crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: crisp-edges;
                -ms-interpolation-mode: nearest-neighbor;
                @include bp(md-down) {
                    height: 91px!important;
                }
                @include bp(sm-down) {
                    height: 73px!important;
                }
            }
        }
    }
}


/*=====  End of Top Area  ======*/


/*===============================
=           Masheader           =
===============================*/

#masheader {
    background-size: cover;
    background-repeat: repeat;
    height: 700px;
    position: relative;
    background-position: center bottom;
    background-color: $green;
    @include bp(md-down) {
        padding-top: 40px;
        padding-bottom: 40px;
        height: auto;
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,2,1,0.39);
        background: -moz-linear-gradient(top, rgba(0,2,1,0.39) 0%, rgba(0,2,1,0.3) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,2,1,0.39)), color-stop(100%,rgba(0,2,1,0.3)));
        background: -webkit-linear-gradient(top, rgba(0,2,1,0.39) 0%,rgba(0,2,1,0.3) 100%);
        background: -o-linear-gradient(top, rgba(0,2,1,0.39) 0%,rgba(0,2,1,0.3) 100%);
        background: -ms-linear-gradient(top, rgba(0,2,1,0.39) 0%,rgba(0,2,1,0.3) 100%);
        background: linear-gradient(to bottom, rgba(0,2,1,0.39) 0%,rgba(0,2,1,0.3) 100%);
        opacity: 0.6;
    }
    .quote-form {
        width: 100%;
        max-width: 100%;
        position: relative;
        z-index: 1;
        @include bp(md) {
            margin-top: 130px;
        }
        @include bp(lg-up) {
            display: none;
        }
        input[type=submit] {
            margin-top: 20px;
            width: 100%;
        }
    }
    .header-caption {
        padding-top: 300px;
        position: relative;
        z-index: 1;
        text-align: center;
        @include bp(md-down) {
            padding-top: 40px;
        }
        .heading-title {
            @include page-title;
            display: block;
            @include bp(desktop) {
            }
            @include bp(lg) {
            }
            @include bp(md) {
            }
            @include bp(sm-down) {
            }
        }
        p {
            font-family: $noto-reg;
            font-size: 1.750em;
            line-height: 1.3;
            margin-bottom: 10px;
            color: #fff;
            @include bp(desktop) {
                font-size: 1.6em;
            }
            @include bp(lg) {
                font-size: 1.5em;
            }
            @include bp(md) {
                font-size: 1.4em;
            }
            @include bp(sm-down) {
                font-size: 1.3em;
            }
        }
    }
}


/*=====  End of Masheader  ======*/



// Inner header

#inner-header {
    background-color: #353535;
    .header-caption {
        position: relative;
        z-index: 1;
        padding-top: 160px;
        padding-bottom: 40px;
        text-align: center;
        @include bp(sm-down) {
            padding-top: 40px;
        }
        h1 {
            @include page-title;
            line-height: 1.2;
            color: #fff;
        }
        h2 {
            font-family: $noto-reg;
            font-size: 1.75em;
            line-height: 1.3;
            margin-bottom: 10px;
            color: #fff;
            @include bp(desktop) {
                font-size: 1.6em;
            }
            @include bp(lg) {
                font-size: 1.5em;
            }
            @include bp(md) {
                font-size: 1.4em;
            }
            @include bp(sm-down) {
                font-size: 1.3em;
            }
        }
    }
}



#cor-notice {
    position: fixed;
    z-index: 9997;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #d30000;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: .25s ease-in-out;
    p {
        font-family: $noto-bold;
        color: #fff;
        margin: 0;
        font-size: 15px;
        @include bp(md-down) {
            font-size: 12px;
        }
        a {
            color: #fff;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}


// mobile
#mobile-menu--btn {
    @include centre(y);
    width: 35px;
    right: 15px;
    display: none;
    @include bp(md-down) {
        display: block;
    }
    a {
        display: block;
        width: 100%;
        span {
            height: 3px;
            border-radius:6px;
            background-color:$yellow-light;
            width: 100%;
            display: block;
            float: right;
            @include animate-fade;
            margin-top: 3px;
            margin-bottom: 3px;
        }	
    }
    .clearfix {
        clear: both;
    }       
}