.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .collapse {
        ul {
            ul {
                @media (min-width: 1550px) and (max-width: 1900px) {
                    min-width: 200px!important;
                }
                ul {
                    @media (min-width: 1200px) and (max-width: 1499px) {
                        left: auto!important;
                        right: 100%!important;
                    }
                }
            }
        }
        
    }
    .navbar-collapse {
        height: 100%;
        .navbar-nav {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            @media (min-width: 992px) {
                flex-direction: row;
            } 
            li {
                height: 100%;
                align-items: center;
                a {
                    display: flex;
                    height: 100%;
                    align-items: center;
                }
            }
        }
    }
    .navbar-nav {
        margin-left: auto;
        @include bp(sm-down) {
            display: none!important;
        }
        @include bp(md) {
            flex-direction: row!important;
            width: 100%;
        }
        >li {
            a {
                color: #ffffff;
                font-size: 18px;
                line-height: 1.5;
                padding-right: 10px;
                padding-left: 10px;
                text-transform: capitalize;
                letter-spacing: 0px;
                font-family: $noto-reg;
                display: block;
                position: relative;
                @include bp(lg) {
                    font-size: 17px;
                }
                @include bp(md) {
                    font-size: 15px;
                }
                &:hover {
                    color: $yellow;
                }
                &.active {
                    color: $yellow;
                }
                &.dropdown-toggle:after {
                    border: 0;
                }
            }
            &.dropdown {
                position: relative;
            }
        }
        /*>.show>a {
            color: #000;
            background: #fff;
            outline: 0;
            text-decoration: none !important;
            &:focus,
            &:hover {
                color: #000;
                background: #fff;
                outline: 0;
                text-decoration: none !important;
            }
            &.dropdown-toggle {
                &:after {
                    color: #000;
                }
            }
        }*/
    }
}


/*==========Sub Menu=v==========*/

.mainmenu {
    .collapse ul ul {
        a {
            font-family: $noto-reg;
            font-size: 14px;
            color: #020202;
            text-transform: capitalize;
            letter-spacing: 1px;
            display: block;
            position: relative;
            line-height: 18px;
            text-align: left;
            float: none;
            margin: 0;
            padding: 10px 20px;
            &.active {
                color: #fff;
            }
            &:hover {
                color: #fff;
            }
        }
    }
    ul ul .dropdown-toggle {
        position: relative;
        &::after {
            border: 0;
            margin: 0;
            padding: 0;
            content: "\e90c";
            font-family: "icomoon";
            font-weight: 900;
            position: absolute;
            right: 15px;
        }
    }
    .dropdown-menu {
        background-color: $yellow;
        padding: 8px 0;
        -webkit-box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.15);
        >li:last-of-type>a {
            border-bottom: 0;
        }
        &.fade {
            display: block;
            opacity: 0;
            pointer-events: none;
        }
    }
    .dropdown:hover>.dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
    }
}


/******************************Drop-down menu work on hover**********************************/

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul {
        li:hover>ul {
            display: block;
        }
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 270px;
            display: none;
            li {
                position: relative;
                &:hover>ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                top: 0;
                left: 100%;
                min-width: 270px;
                display: none;
                li {
                    position: relative;
                    &:hover ul {
                        display: block;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    min-width: 200px;
                    display: none;
                    z-index: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu {
        >li>a {
            padding: 16px 15px 16px 35px;
        }
        .dropdown-menu>li>a {
            padding: 16px 15px 16px 45px;
        }
    }
}

.sliding-menu-panel {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


/******************************Mobile Menu**********************************/

.sliding-menu {
    position: relative;
    overflow: hidden;
    li {
        padding: 0;
        margin: 0;
        list-style: none;
        a {
            display: block;
            text-transform: uppercase;
            font-size: 13px;
            font-family: $noto-bold;
            text-decoration: none;
            border: none;
            outline: none;
            color: #444444;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.2);
            &:hover {
                color: #444444;
                background-color: rgba(0, 0, 0, 0.03);
                /*border: none;*/
                &:before {
                    color: #444444;
                }
            }
        }
    }
    .active a {
        color: #444444;
        background-color: rgba(0, 0, 0, 0.03);
        border: none;
    }
    .sliding-menu-nav:before {
        float: right;
        margin-left: 1em;
        margin-right: 15px;
        font-family: 'icomoon';
        content: "\e90c";
        color: #444444;
        font-weight: 300;
        font-size: 22px;
        position: relative;
        bottom: 4px;
    }
    .sliding-menu-back {
        color: #444444;
        background-color: rgba(0, 0, 0, 0.03);
        font-size: 13px;
        &:before {
            float: left;
            margin-right: 1em;
            font-family: 'icomoon';
            content: "\e90b";
            color: #444444;
            font-weight: 300;
            font-size: 22px;;
            margin-left: 0px;
            position: relative;
            bottom: 7px;
        }
    }
}

#menu ul li ul li a {
    font-size: 1px !important;
    color: #000 !important;
}

#mobile__brand {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    img {
        width: 150px;
    }
}

.third-level {
    background: #fff !important;
}


#top__mobile {
    margin-left: auto;
    @media (min-width: 768px) {
        display: none;
    }
    .menu-btn {
        display: block;
        width: 100%;
        height: 30px;
        span {
            height: 4px;
            border-radius: 6px;
            background-color: #fff;
            width: 35px;
            display: block;
            margin-top: 3px;
            margin-bottom: 3px;
            transition: .25s ease-in-out;
        }
        &:hover {
            span {
                background-color: $yellow;
            }
        }
    }
}


/*====================================
=            Menu Ovelray            =
====================================*/

.menu-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.active-overlay {
    opacity: 1;
    visibility: visible;
}

.main-menu-sidebar {
    width: 400px;
    position: fixed;
    height: 100%;
    top: 0px;
    right: -400px;
    z-index: 9999;
    transition: .45s ease-in-out;
    background: #fff;
    overflow-y: scroll;
    /* close menu */
    /* main menu */
    .close-menu-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        img {
            width: 20px;
            height: 20px;
        }
    }
    #sidebar-menu-wrapper #menu .nav-links>li>a:hover {
        color: #fff;
    }
}

@media only screen and (max-width: 750px) {
    .main-menu-sidebar {
        width: 300px;
    }
}

.body-scroll {
    overflow-y: hidden !important;
}

.menu-active {
    right: 0;
}


/*=====  End of Mobile Navbar  ======*/