#about-page {
    .content-block {
        margin-bottom: 40px;
    }
    &.contact-body {
        padding-bottom: 0;
        .about-body {
            padding-bottom: 80px;
            @include bp(sm-down) {
                padding-bottom: 40px;
            }
        }
        .about-content {
            @include bp(sm-down) {
                margin-top: 50px;
            }
        }
        .quote-form {
            padding-right: 0;
        }
    }
    .intro {
        margin-bottom: 15px;
        @include bp(sm-down) {
            margin-bottom: 0;
        }
        p {
            @include heading-font2;
            color: #353535!important;
            text-align: left;
        }
    }
    &.free-moving-estimate {
        .col-md-6 {
            @include bp(sm-down) {
                min-width: 100%;
            }
        }
        .quote-form {
            padding-right: 0;
        }
    }
    .about-body {
        h3 {
            @include heading-font;
            margin-top: 40px;
        }
        .row {
            &:first-of-type {
                h3 {
                    margin-top: 0;
                }
            }
        }
        p {
            @include regular-text;
            color: #777777;
            strong {
                color: $yellow;
                font-family: $noto-bold;
            }
            a {
                font-family: $noto-bold;
                color: $blue;
                &:hover {
                    color: $yellow;
                    text-decoration: none;
                }
            }
        }
        ul {
            @include list-style;
            li {
                margin-bottom: .5em;
                a {
                    text-decoration: underline;
                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
        .from-to-list {
            margin-top: 30px;
        }
    }
    .about-photo {
        img {
            border-radius: 50%;
        }
        &.with-contact-info {
            text-align: center;
        }
        .contact-info {
            margin-top: 32px;
            text-align: center;
            p {
                margin-bottom: 0;
                a {
                    font-family: $noto-reg;
                }
            }
        }
    }
    .services-photo {
        img {
            display: inline;
            float: left;
            margin-right: 1.5em;
            margin-bottom: 1.5em;
            @include bp(sm-down) {
                margin-left: auto;
                margin-right: auto;
                float: none;
                display: block;
            }
        }
    }
    .bootstrap-select {
        ul {
            margin-left: 0;
            padding: 0;
            list-style-type: none;
            li {
                margin-bottom: 0;
            }
        }
        .dropdown-menu {
            min-width: 100%!important;
            z-index: 9999;
        }
    }
    .quote-form {
        max-width: 100%;
        padding-right: 15px;
        @include bp(sm-down) {
            padding-right: 0;
            margin-bottom: 30px;
        }
        &-in {
            background-color: #fff;
            padding: 0;
        }
        form {
            input[type=text], input[type=number], input[type=email], input[type=tel], textarea, .bootstrap-select .btn, textarea {
                height: 34px;
                border: 1px solid #e3e3e3;
            }
            label {
                color: $dark;
            }
            textarea {
                height: 160px;
            }
            .form-group {
                margin-bottom: 20px;
            }
        }
        &.survey-form {
            .col-md-6 {
                @include bp(sm-down) {
                    min-width: 100%;
                }
            }
            &.quote-form {
                padding-right: 0;
                @include bp(sm-down) {
                   margin-bottom: 40px;
                }
            }
            .control--radio, .control--checkbox {
                font-family: $noto-reg;
            }
            .quote-form-in {
                background-color: #d6d6d6;
                padding: 20px;
            }
        }
    }
    .countries-list {
        h3 {
            margin-bottom: 35px;
        }
    }
    #country-page-body {
        h2 {
            font-family: $noto-bold;
            color: $yellow;
        }
        .country-photo {
            img {
                display: inline;
                float: right;
                margin-left: 1.5em;
                margin-bottom: 1.5em;
                @include bp(sm-down) {
                    margin-left: auto;
                    margin-right: auto;
                    float: none;
                    display: block;
                }
            }
        } 
    }
    .moving-tips {
        margin-top: 110px;
        @include bp(desktop) {
            margin-top: 90px;
        }
        @include bp(lg) {
            margin-top: 80px;
        }
        @include bp(md-down) {
            margin-top: 70px;
        }
        @include bp(sm-down) {
            margin-top: 60px;
        }
        .moving-item {
            text-align: center;
            margin-bottom: 95px;
            @include bp(desktop) {
                margin-bottom: 90px;
            }
            @include bp(lg) {
                margin-bottom: 80px;
            }
            @include bp(md-down) {
                margin-bottom: 70px;
            }
            @include bp(sm-down) {
                margin-bottom: 60px;
            }
            i {
                font-size: 28px;
                color: #ee3706;
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #ee3706;
                border-radius: 50%;
                margin-bottom: 30px;
                margin-left: auto;
                margin-right: auto;
            }
            h4 {
                @include heading-font2;
                margin-bottom: 0;
                color: $blue;
                a {
                    color: inherit;
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
    .tips-list {
        .tips-item {
            padding-top: 55px;
            padding-bottom: 55px;
            border-top: 1px solid #EBEBEB;
            @include bp(sm-down) {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            i {
                margin-top: 30px;
                font-size: 32px;
                color: #ee3706;
                width: 74px;
                height: 74px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #ee3706;
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;
                @include bp(sm-down) {
                    margin-top: 0;
                    margin-bottom: 30px;
                }
            }
            p {
                a {
                    font-family: $noto-reg;
                }
            }
        }
    }
}

#cities-served {
    background-color: #F4F4F4;
    padding-top: 32px;
    padding-bottom: 75px;
    @include bp(sm-down) {
        padding-bottom: 50px;
    }
    h2 {
        @include heading-font;
        text-align: center;
        margin-bottom: 42px;
    }   
    ul {
        @include bp(sm-up) {
            -webkit-column-count: 4;
            -moz-column-count: 4;
            column-count: 4;
        }
        li {
            @include regular-text;
            color: $dark;
            margin-bottom: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            a {
                color:$dark;
                &:hover {
                    color:$orange;
                }
            }
        }
    }
}