/*===============================
=           Footer            =
===============================*/
#page-footer {
    background-color: #252525;
    padding-top: 50px;
    padding-bottom: 50px;
    .footer-logo {
        img {
            width: 220px;
        }
    }
    .col {
        &:nth-of-type(1) {
            min-width: 33.33%;
            @include media-breakpoint-down(md) {
                min-width: 100%;
            }
        }
        @include media-breakpoint-down(sm) {
            min-width: 100%;
        }
    }
    .copyright {
        margin-bottom: 20px;
        max-width: 270px;
        @include media-breakpoint-down(md) {
            max-width: 100%;
            margin-bottom: 40px;
        }
        small {
            font-family: $noto-reg;
            color: #fff;
            font-size: 13px;
            line-height: 1.85;
            margin-bottom: 0;
        }
    }
    .footer-sitemap {
        margin-bottom: 30px;
        .footer-title {
            @include regular-text;
            text-transform: uppercase;
            color: #636363;
            display: block;
            margin-bottom: 15px;
            letter-spacing: 1px;
        }
        ul {
            li {
                a {
                    display: inline-block;
                    font-size: 13px;
                    line-height: 1.85;
                    font-family: $noto-reg;
                    padding: 5px 15px 5px 10px;
                    color: #bababa;
                    position: relative;
                    &:before {
                        @include font-ico;
                        @include animate-fade;
                        position: absolute;
                        left: 0;
                        top: 11px;
                        font-size: 14px;
                        color: #bababa;
                        content: '\f105';
                        font-weight: 300;
                    }
                    &:hover {
                        color: $yellow;
                        &:before {
                            color: $yellow;
                        }
                    }
                    &.active {
                        font-family: $noto-bold;
                    }
                }
            }
        }
    }
    .payment-cards {
        img {
            max-width: 200px;
        }
    }
}

a#go-to-top {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: fixed;
    right: 20px;
    z-index: 9996;
    display: block;
    bottom: 72px;
    text-align: center;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    cursor: pointer;
    visibility: hidden;
    i {
        color: #fff;
        font-size: 16px;
    }
    &.on {
        opacity: 1;
        visibility: visible;
    }
}


/*=======End of Footer ========*/


