// 0. Path.
$assets: '../img';

$black:#000;
$white:#fff;
$green: #26aabf;
$yellow: #f9b000;
$yellow-light: #f2ddb8;
$yellow-dark: #a5744f;
$red: #ed5b07;
$dark: #666666;
$blue: #05317f;
$orange: #fd7e14;

// font default size
$base-size: 16px;



